@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  height: 100vh;
  box-sizing: border-box;
  background-color: #000000;
  color: #F6F6F6;
  font-family: "";
  overflow: hidden;
}

main section {
  margin: 10% auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
  max-width: 1140px;
}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 25px;;
}

.apresentacao__conteudo h1 {
  color: #fff;
  font-size: 36px;
  font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo h1 strong {
  color: #22D4FD;
}

.apresentacao__conteudo p {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

main section figure {
  position: relative;
}

main section figure::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  left: 1px;
  top: 1px;
  border: 4px solid #22D4FD;
  border-radius: 20px;
  transform: translate(20px, -30px);
  z-index: 0;
}

main section figure img {
  display: block;
  max-width: 100%;
  width: 100%;
  margin: 0;
  border-radius: 15px;
  z-index: 1;
  position: relative;
  transition: transform ease 250ms;
}

main section figure:hover img {
  transform: translate(25px, -25px);
}

.apresentacao__conteudo__links {
  display: flex;
  justify-content: space-between;
}

.apresentacao__conteudo__links a {
  background-color: #22D4FD;
  width: 280px;
  text-align: center;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 600;
  padding: 16.5px 0;
  text-decoration: none;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  width: calc(50% - 10px);
  border: 5px solid #22D4FD;
  transition: all ease 250ms;
}

.apresentacao__conteudo__links a:hover {
  background-color: transparent;
  color: #22D4FD;
}